.image {
  background-image: url("https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2024%2F06%2F12%2F15%2F57%2Fai-generated-8825818_1280.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
}
